{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <header>
            <div id="login-bar">
                <div>
                    <div id="welcome" class="login-bar">{{ request.session.user_name }}님 환영합니다</div>
                    <a href="/login/logout" class="login-bar">로그아웃</a>
                </div>
            </div>
            <div id="header-nav">
                <a href="/">마케킹</a>
                <ul>
                    <li>
                        <a id="header-nav-first" href="/">홈</a>
                        <a class="" href="/customer">고객 관리</a>
                        <a class="" href="/sales">매출 관리</a>
                        <a class="" href="/goods">제품 관리</a>
                        <a class="" href="/setup">설정</a>
                    </li>
                </ul>
            </div>
        </header>
        {% block contents %} 
        
        {% endblock %}
        <footer>
            <div id="footerWrap">
                <div class="footer-line">Developer: HeeKyung-Kwon</div>
                <a class="footer-line" href="https://github.com/gkwlsdn17/MarkeKing" target="_blank">Git 방문하기</a>
                <a class="footer-line" href="http://127.0.0.1:8001/" target="_blank">Shop 방문하기</a>
            </div>
        </footer>
    </body>
</html>
