<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarkeKing</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/customer.css">
</head>
<body>
   
    {% extends 'main/base.html' %}
    
    {% block contents %}
    <div id="container">
        <div id="content_menu">
            <div>
                <ul>
                    <li><a>1번메뉴</a></li>
                    <li><a>2번메뉴</a></li>
                    <li><a>3번메뉴</a></li>
                    <li><a>4번메뉴</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            <a href="insert/view/" id="insert_customer">고객추가</a>

            <div id="customer_list">
                <table id="tb_customer_list">
                    <thead>
                        <tr>
                            <th class="tb tb_name">이름</th>
                            <th class="tb tb_id">아이디</th>
                            <th class="tb tb_birth">생년월일</th>
                            <th class="tb_phone">전화번호</th>
                            <th class="tb_email">이메일</th>
                            <th class="tb_addr">주소</th>
                            <th class="tb">첫방문일</th>
                            <th class="tb">마지막방문일</th>
                            <th class="tb">방문횟수</th>
                            <th class="tb">고객등급</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in page_obj %}
                        <tr>
                            <td class="tb">{{ customer.CUSTOMER_NAME }}</td>
                            <td class="tb">{{ customer.CUSTOMER_ID }}</td>
                            <td class="tb">{{ customer.CUSTOMER_BIRTH }}</td>
                            <td class="tb">{{ customer.CUSTOMER_PHONE }}</td>
                            <td class="tb">{{ customer.CUSTOMER_EMAIL }}</td>
                            <td class="tb">{{ customer.CUSTOMER_ADDR }}</td>
                            <td class="tb">{{ customer.FIRST_VISIT | date:'y-m-d'}}</td>
                            <td class="tb">{{ customer.LAST_VISIT | date:'y-m-d'}}</td>
                            <td class="tb">{{ customer.VISIT_CNT }}</td>
                            <td class="tb">{{ customer.CUSTOMER_RATING }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                    
                </table>
              
                <div id="page_bar">
                    <ul>
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                        {% endif %}

                        {% for page_number in page_obj.paginator.page_range %}
                        {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}

                        {% if page_number == page_obj.number %}
                            <li><a style="color:red;">{{ page_number }}</a></li>
                        {% else %}
                        <li><a style="color:black;" href="?page={{ page_number }}">{{ page_number }}</a></li>
                        {% endif %} 

                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                        {% endif %}
                    </ul>
                    
                </div>
            </div>
            
        </div>
        
       
    </div>
    {% endblock %}
</body>
</html>