<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarkeKing</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/customer_common.css">
    

</head>
<body>
   
    {% extends 'main/base.html' %}
    
    {% block contents %}
    <div id="container">
        <div id="content_menu">
            <div>
                <ul>
                    <li><a href="/customer">고객정보</a></li>
                    <li><a>2번메뉴</a></li>
                    <li><a>3번메뉴</a></li>
                    <li><a>4번메뉴</a></li>
                </ul>
            </div>
            
            
        </div>
        <div id="content">
            <div class="customer-input-div">
                <form id="insert_form" action="/customer/insert/" method="post"> {% csrf_token %}
                    <div>고객 아이디: <input type="text" name="customer_id"></div>
                    <div>고객 패스워드: <input type="password" name="customer_pw"></div>
                    <div>고객 이름: <input type="text" name="customer_name"></div>
                    <div>고객 생일: <input type="text" name="customer_birth"></div>
                    <div>고객 핸드폰: <input type="text" name="customer_phone"></div>
                    <div>고객 이메일: <input type="email" name="customer_email"></div>
                    <div>고객 주소: <input type="text" name="customer_addr"></div>
                    <div>고객 방문횟수: <input type="number" name="visit_cnt"></div>
                    <div>고객 등급: <input type="number" name="customer_rating"></div>
                </form>
                <div>
                    <button class="btn" type="submit" form="insert_form">고객 추가</button>
                </div>
            </div>
        </div>
        
       
    </div>
    {% endblock %}
</body>
</html>