<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarkeKing</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/customer_common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/customer.css">

    <script>
        function search() {
            var condition = $("select[name=condition]").val();
            var keyword = $("input[name=keyword]").val();
            location.href = "/customer?" + condition + "=" + keyword;
        }
    </script>
</head>

<body>

    {% extends 'main/customer_base_side.html' %}
    {% block main %}

    <div id="content">
        <div>
            <div>
                <a href="insert/view/" id="insert_customer" class="btn">고객추가</a>
            </div>
            <div id="customer_list">
                <table id="tb_customer_list">
                    <thead>
                        <tr>
                            <th class="tb tb_name">이름</th>
                            <th class="tb tb_id">아이디</th>
                            <th class="tb tb_birth">생년월일</th>
                            <th class="tb_phone">전화번호</th>
                            <th class="tb_email">이메일</th>
                            <th class="tb_addr">주소</th>
                            <th class="tb">첫방문일</th>
                            <th class="tb">마지막방문일</th>
                            <th class="tb">방문횟수</th>
                            <th class="tb">고객등급</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in page_obj %}
                        <tr id="tb_row" onclick="location.href='detail/{{customer.CUSTOMER_ID}}'">
                            <td class="tb">{{ customer.CUSTOMER_NAME }}</td>
                            <td class="tb">{{ customer.CUSTOMER_ID }}</td>
                            <td class="tb">{{ customer.CUSTOMER_BIRTH }}</td>
                            <td class="tb">{{ customer.CUSTOMER_PHONE }}</td>
                            <td class="tb">{{ customer.CUSTOMER_EMAIL }}</td>
                            <td class="tb">{{ customer.CUSTOMER_ADDR }}</td>
                            <td class="tb">{{ customer.FIRST_VISIT | date:'y-m-d'}}</td>
                            <td class="tb">{{ customer.LAST_VISIT | date:'y-m-d'}}</td>
                            <td class="tb">{{ customer.VISIT_CNT }}</td>
                            <td class="tb">{{ customer.CUSTOMER_RATING.NAME }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>


                </table>

                <div id="page_bar">
                    <ul>
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                        {% endif %}

                        {% for page_number in page_obj.paginator.page_range %}
                        {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}

                        {% if page_number == page_obj.number %}
                            <li><a style="color:red;">{{ page_number }}</a></li>
                        {% else %}
                        <li><a style="color:black;" href="?page={{ page_number }}">{{ page_number }}</a></li>
                        {% endif %} 

                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                        {% endif %}
                    </ul>

                </div>

                <div class="search-bar">
                    <select name="condition">
                        <option value="all">==선택==</option>
                        <option value="name">이름</option>
                        <option value="id">아이디</option>
                        <option value="birth">생년월일</option>
                        <option value="phone">전화번호</option>
                        <option value="email">이메일</option>
                        <option value="addr">주소</option>
                        <option value="rating">등급</option>
                    </select>
                    <input type="text" name="keyword">
                    <button class="btn" onclick="search()">검색</button>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}
  
</body>

</html>