{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마케킹 - 로그인</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div id="wrap">
        <div id="login_title">
            <div class="logo" id="login-title"><a href="/">마케킹</a></div>
        </div>
        <div id="login_box">
            <form action="/login/check" method="post"> {% csrf_token %}
                <div>ID</div><input class="ipt-login" type="text" name="id">
                <div>PW</div><input class="ipt-login" type="password" name="pw">
                <button id="btn_login" class="w-btn w-btn-yellow">로그인</button>
            </form>
        </div>
        <button id="btn_signup" class="w-btn w-btn-blue" onclick="location.href='/signup'">회원가입</button>
    </div>
</body>
</html>