{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마케킹 - 주문하기</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">

    <script>
        var items = []
        $(document).ready(function(){  
            console.log(items)
        })
        function orderSubmit(){
            var dname = $("input[name=dname").val()
            var daddr = $("input[name=daddr]").val()
            var dphone = $("input[name=dphone]").val()

            if(dname.length == 0){
                alert("받는사람을 입력해주세요.")
                return;
            }
            else if(daddr.length == 0){
                alert("배송지 주소를 입력해주세요.")
                return;
            }
            else if(dphone.length == 0){
                alert("배송지 전화번호를 입력해주세요.")
                return;
            }

            var convert_items = JSON.stringify(items)
            
            var form = document.getElementById('form')
            var json_input = document.createElement('input');
            json_input.setAttribute('type', 'hidden');
            json_input.setAttribute('name', 'items');
            json_input.setAttribute('value', convert_items);
            form.appendChild(json_input)
            form.submit()
        }

    </script>
</head>
<body>
    <header>
        <div id="logo"><a href="/">마케킹</a></div>     
    </header>
    <div id="wrap">
        <form id="form" onsubmit="return false" action="/order/submit", method="post", charset="utf-8">{% csrf_token %}
            <div class="title">주문 내역</div>
            <div id="order_wrap">
                <div id="item_title_wrap">
                    <div class="item-title item item-name">상품명</div>
                    <div class="item-title item item-price">상품가격</div>
                    <div class="item-title item item-count">상품개수</div>
                </div>

                {% for item in goods %}
                <script>
                    items.push({
                        'GOODS_NO':'{{item.GOODS_NO}}', 
                        'GOODS_NAME':'{{item.GOODS_NAME}}', 
                        'GOODS_COUNT':'{{item.GOODS_COUNT}}', 
                        'GOODS_PRICE':'{{item.GOODS_PRICE}}',
                    });
                </script>
                
                <div class="item-wrap">
                    <div class="item item-name">{{item.GOODS_NAME}}</div>
                    <div class="item item-price">{{item.GOODS_PRICE}}</div>
                    <div class="item item-count">{{item.GOODS_COUNT}}</div>
                </div>
                
                {% endfor %}
            </div>
            
            <hr>

            <div id="order_info">
                <div class="title">배송지설정</div>
                <div class="order-info-tag">받는분</div>            <input class="input-order-info" type="text" name="dname"> 
                <div class="order-info-tag">배송지 주소</div>       <input class="input-order-info" type="text" name="daddr">
                <div class="order-info-tag">배송지 전화번호</div>   <input class="input-order-info" type="text" name="dphone">
            </div>
            <button id="btn_order" class="w-btn w-btn-blue" type="button" onclick="orderSubmit()">주문하기</button>
        </form>
        
    </div>
</body>
</html>