{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>마케킹 - 회원가입</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

</head>
<body>
    <div id="wrap">
        <div class="logo signup-logo"><a href="/">마케킹</a></div>
        <form action="/signup/check" method="post"> {% csrf_token %}
            <div class="ipt-wrap"><div class="ipt-title">아이디:</div>  <input class="ipt-text" name="id"  type="text"></div>
            <div class="ipt-wrap"><div class="ipt-title">비밀번호:</div><input class="ipt-text" name="pw" type="password"></div>
            <div class="ipt-wrap"><div class="ipt-title">이름:</div>    <input class="ipt-text" name="name" type="text"></div>
            <div class="ipt-wrap"><div class="ipt-title">생년월일:</div><input class="ipt-text" name="birth" type="text"></div>
            <div class="ipt-wrap"><div class="ipt-title">핸드폰:</div>  <input class="ipt-text" name="phone" type="text"></div>
            <div class="ipt-wrap"><div class="ipt-title">이메일:</div>  <input class="ipt-text" name="email" type="text"></div>
            <div class="ipt-wrap"><div class="ipt-title">우편번호:</div><input class="ipt-text" name="zipcode" type="text"></div>
            <div class="ipt-wrap"><div class="ipt-title">주소:</div>    <input class="ipt-text" name="addr" type="text"></div>
            <div class="ipt-wrap">
                <div class="ipt-title">성별:</div>    
                <input class="ipt-radio" name="sex" type="radio" value="1" checked><div class="radio-tag">남</div>
                <input class="ipt-radio" name="sex" type="radio" value="2"><div class="radio-tag">여</div>
            </div>
            <button id="btn_signup" class="w-btn w-btn-yellow" type="submit">회원가입</button>
        </form>
    </div>
</body>
</html>