<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>마케킹 - 회원가입</title>
</head>
<body>
    <form action="/signup/check" method="post"> {% csrf_token %}
        <div>아이디:</div><input name="id"  type="text">
        <div>비밀번호:</div><input name="pw" type="password">
        <div>이름:</div><input name="name" type="text">
        <div>생년월일:</div><input name="birth" type="text">
        <div>핸드폰:</div><input name="phone" type="text">
        <div>이메일:</div><input name="email" type="text">
        <div>우편번호:</div><input name="zipcode" type="text">
        <div>주소:</div><input name="addr" type="text">
        <div>성별:</div><input name="sex" type="text">
        <button type="submit">회원가입</button>
    </form>
    
</body>
</html>