/* 초기화 */
body{
    /* min-width: 1920px; */
    width: 100%;
    height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    vertical-align: middle;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
    display: block;
}
ol, ul, li {
    list-style: none;
    font-size:0;
}

header{
    width: 100%;
    height: 100px;
    background-color: #6D2962;
    overflow: hidden;
}
#login-bar { width: 100%; height: 30px; overflow: hidden;}
#login-bar > div { float: right; }
#login-bar > div > div { float:left; margin: 5px; }
#login-bar > div > a {  
    color: white; 
    margin: 20px;
    text-decoration: none;
}

#header-nav{ width: 100%; height: 70px; }

#header-nav > a{
    float: left;
    margin-left: 5%;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
}
#header-nav > a:hover { color: white;}
#header-nav  > ul > li { padding-top: 15px; }
#header-nav > ul > li > a{
    color: white;
    text-decoration: none;
    margin-left: 5%;
}
#header-nav > ul > li > a:first-child{ margin-left: 20%;}

.btn{
    
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 400;
    transition: 0.25s;
    background-color: #282B3D;
    color: white;

}

.btn:hover {
	color: white;
    background: #282B3D;
    opacity: 80%;
}

footer{
    height: 150px;
    background-color: black;
    clear: both;
}

.table{  text-align: center; margin-top: 20px; }
.table > thead > tr > th{ background-color: black; color: white; }
.table > thead > tr, .table > tbody > tr{ height: 50px; }
.table > tbody > tr:nth-child(odd){ background-color: white; }
.table > tbody > tr:nth-child(even){ background-color: #EDEFF1; }
.td:hover{ background-color: skyblue; cursor: pointer; }

.page-bar{ margin-top: 20px; }
.page-bar > ul{ text-align: center; margin-left: auto; margin-right: auto;}
.page-bar ul > li{ display: inline-block; margin-left: 10px; }
.page-bar ul > li > a{ font-size: 20px;}