
#container{
    overflow: hidden;
    display: block;
}

#content_menu{
    width: 10%;
    height: 780px;
    float: left;
    border: 1px solid black;
}

#content_menu > div{ text-align: center; margin-top: 50px; }
#content_menu > div > ul > li{ margin-top: 20px; }
#content_menu > div > ul > li > a{ text-decoration: none; color: black;}
#content_menu > div > ul > li > a:hover{ color: gray; }

#content{
    width:90%;
    float: left;
    position: relative;
}

.customer-input-div{
    margin-top: 80px;
    margin-left: 30%;
    width: 500px;
}

.customer-input-div > form > div{ margin-top: 10px; }
.customer-input-div> form > div > input{ width: 100%; }
.customer-input-div > div{
    margin-top:30px;
    overflow: hidden;
    float: right;
}