/* #content > div{ width: 1600px;} */

#insert_customer{ float:right; margin-top: 30px; }
#customer_list{ 
    /* margin-left: 10%;  */
    /* overflow-x: auto; white-space:nowrap;  */
    width: 100%;
    clear: right;
}

/* .tb{ width: 10%; padding: 5px;} */
.tb_name{ width: 8%; }
.tb_id{ width: 8%; }
.tb_birth{ width: 5%;}
.tb_sex{ width: 4%; }
.tb_phone{ width: 8%; }
.tb_email{ width: 10%; }
.first_visit{width: 8%; }
.last_visit{ width: 8%; }
.visit_cnt{ width: 4%; }
.rating{ width: 8%; }

#tb_row:hover td{ background-color: skyblue; cursor: pointer;}

#page_bar{ margin-top: 20px; }
#page_bar > ul{ text-align: center; margin-left: auto; margin-right: auto;}
#page_bar ul > li{ display: inline-block; margin-left: 10px; }
#page_bar ul > li > a{ font-size: 20px;}

.search-bar{ margin-top: 20px; text-align: center;}
.search-bar > input{ width: 300px; }
.search-bar > button{ margin-left: 5px; }