
#container{
    overflow: hidden;
    display: block;
}

#content_menu{
    width: 10%;
    height: 780px;
    float: left;
    border: 1px solid black;
}

#content_menu > div{ text-align: center; margin-top: 50px; }
#content_menu > div > ul > li{ margin-top: 20px; }

#content{
    width:90%;
    float: left;
}
#insert_customer{ margin-left: 3%; }
#customer_list{ margin-left: 10%; overflow-x: auto; white-space:nowrap;}
#tb_customer_list{ width: 1300px; text-align: center; margin-top: 20px; }
#tb_customer_list > thead > tr > th{ background-color: black; color: white; }
#tb_customer_list > thead > tr, #tb_customer_list > tbody > tr{ height: 50px; }
#tb_customer_list > tbody > tr:nth-child(odd){ background-color: white; }
#tb_customer_list > tbody > tr:nth-child(even){ background-color: #EDEFF1; }
.tb{ width: 10%; padding: 5px;}
.tb_name{ width: 15%; }
.tb_id{ width: 15%; }
.tb_email{ width: 20%; }

#page_bar{ margin-top: 20px; }
#page_bar > ul{ text-align: center; margin-left: auto; margin-right: auto;}
#page_bar ul > li{ display: inline-block; margin-left: 10px; }
#page_bar ul > li > a{ font-size: 20px;}

