
#container{
    overflow: hidden;
    display: block;
}

#content_menu{
    width: 10%;
    height: 900px;
    float: left;
    border: 1px solid black;
}

#content_menu > div{ text-align: center; margin-top: 50px; }
#content_menu > div > ul > li{ margin-top: 20px; }
#content_menu > div > ul > li > a{ text-decoration: none; color: black;}
#content_menu > div > ul > li > a:hover{ color: gray; }

#content{
    width:90%;
    float: left;
    position: relative;
}

.setup_table > tbody > tr:nth-child(odd){ background-color: white; }
.setup_table > tbody > tr:nth-child(even){ background-color: #EDEFF1; }
.setup_table > thead > tr{ height: 30px; }
.setup_table{  text-align: center; margin-top: 40px; clear: left; }
.setup_table > thead > tr > th{ background-color: black; color: white; }
.setup_table > thead > tr > th{ border: 1px solid white; }
.setup_table{ width: 100%; table-layout: fixed;}

#rating{ width: 350px; height: 400px; margin-left: 10%; margin-top: 40px; }
#rating_title{ overflow: hidden; }
#rating_name{ width: 100px; margin-left: 5px; }
#rating_order{ width: 80px;}

.tb{ width: 100px; padding: 5px;}
#tb_rating > tbody > tr > td:first-child{ width: 150px; }

#goods_type{ 
    width: 350px; height: 400px; 
    margin-left: 10%; margin-top: 40px; 
}

#tb_goods_type > thead > tr > th:last-child{ width: 20%; }
#tb_goods_type > tbody > tr > td:last-child{ width: 20%; }